.search-form {
    .form-group {
        label {
            font-weight: 700;

            span{
                display: none;
            }
        }
    }

    .submit-button {
        background-color: #1790ff;
        border-radius   : 50px;
        border-width    : 0;
        font-weight     : 600;
        height          : 36px;

        @media (min-width: 992px) {
            margin-top: 38px !important;
        }
    }
    .text-w{
        max-width: 70px;
    }
    .reset-button {
        border-radius: 50px;
        line-height  : 0.9;
        height          : 36px;

        @media (min-width: 992px) {
            margin-top: 38px !important;
        }

        i {
            width : 16px;
            height: 16px;
        }
    }
}

.table-header-block {
    .table-heading {
        color: #00539f;
    }

    .add-button {
        border-radius: 50%;
        line-height  : 0;
        border-color : #00539f;
        background   : white;

        i {
            width : 16px;
            height: 16px;
            color : #00539f;
        }
    }
}

.table-cover {
    overflow-x: auto;

    table{
        font-size: 14px;
    }
    table td{
        vertical-align: middle !important;
    }

    .row-actions {
        .circular-icon{
            width: 40px;
            height: 40px;
            background-color: #eee;
        }
    }

    .pagination-wrap {
        .page-item {
            margin: 0 3px;
            a {
                border-radius: 0;
                color: #414c52;
                cursor: pointer;
            }
            &.active{
                a{
                    background-color: #00539f;
                    border-color: #00539f;
                    color: white;
                }
            }
        }
    }
}

.modal-form-footer {
    .save-button {
        background-color: #69af02;
        border-width    : 0;
        border-radius   : 50px;
    }

    .cancel-button {
        background-color: #e60f00;
        border-width    : 0;
        border-radius   : 50px;
    }
}