.ReportArmadaMuatPerHari {
    padding: 20px;

    .tabs-wrap {

        .tabs-header-wrap {
            background-color: #f0f3f5;

            .tabs-title {
                color         : #cbcecf;
                cursor        : pointer;
                text-transform: capitalize;
                float         : left;
                padding       : 10px 20px;
                font-size     : 18px;
                font-weight   : 700;

                &.active {
                    background-color       : white;
                    border-top-left-radius : 4px;
                    border-top-right-radius: 4px;
                    color                  : #00539f;
                    box-shadow             : 1px 0 5px rgba(0, 0, 0, 0.08);
                }

            }

        }

        table {
            font-size: 14px;
        }

        .tabs-content {
            background-color          : white;
            box-shadow                : 1px 0 5px rgba(0, 0, 0, 0.08);
            border-bottom-left-radius : 4px;
            border-bottom-right-radius: 4px;
            padding                   : 15px;

            .reports-form {
                label {
                    span {
                        display: none;
                    }
                }
            }

            .search-button {
                background-color: #1790ff;
                border-width    : 0;
                border-radius   : 50px;
                font-weight     : 600;
                height          : 36px;
            }

            .table-heading {
                color: #194d96;
            }

            .circular-icon {
                width           : 40px;
                height          : 40px;
                background-color: #eee;
            }

            .search-results-wrap {
                .search-result-button {
                    background-color: #00539f;
                    border-color    : #00539f;
                    font-weight     : 400;
                    justify-content : space-between;
                    align-items     : center;

                    i {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .barChart-div {
        padding         : 20px;
        background-color: #fff;

        .chart {
            display   : block !important;
            width     : 100% !important;
            overflow-x: auto !important;
        }
    }

    .table-div {
        padding         : 20px;
        background-color: #fff;

        .total {
            color      : #00539f;
            font-size  : 18px;
            font-weight: 700;
        }

        .table th:first-child {
            color: #00539f;
        }

        .table tr td:first-child {
            color      : #00539f;
            font-weight: 700;
        }

        .table th {
            border-top: none !important;
        }

    }

}