.tabs-wrap {
    padding: 20px;

    .file-select-form {

        .form-group {
            label {
                font-weight: 700;
            }
        }
    }

    .tabs-header-wrap {
        background-color: #f0f3f5;

        .tabs-title {
            color         : #cbcecf;
            cursor        : pointer;
            text-transform: capitalize;
            float         : left;
            padding       : 10px 20px;
            font-size     : 18px;
            font-weight   : 700;

            &.active {
                background-color       : white;
                border-top-left-radius : 4px;
                border-top-right-radius: 4px;
                color                  : #00539f;
                box-shadow             : 1px 0 5px rgba(0, 0, 0, 0.08);
            }

        }

    }

    .tabs-content {
        background-color          : white;
        box-shadow                : 1px 0 5px rgba(0, 0, 0, 0.08);
        border-bottom-left-radius : 4px;
        border-bottom-right-radius: 4px;
        padding                   : 15px;
    }

}

.choose-button {
    background-color: #1790ff;
    border-width    : 0;
    border-radius   : 50px;
    font-weight     : 600;
    height          : 36px;

    @media (min-width: 992px) {
        margin-top: 38px !important;
    }
}

.upload-button {
    background-color: #00539f;
    border-width    : 0;
    border-radius   : 50px;
    font-weight     : 600;
    height          : 36px;

    @media (min-width: 992px) {
        margin-top: 38px !important;
    }
}

.file-upload-error-modal {
    .modal-content {
        border: 0 !important;
    }
}