.ReportBoardAdmin{
    padding: 20px;

    .fs_10{
        font-size: 10px;
    }
    .fs_12{
        font-size: 12px;
    }
    .txt-clr{
        color: #00539f;
    }
    .w_clr{
        color: #fff;
    }
    .order_box{
        background: #00539f;
        border-radius: 30px;
    }
    .txt-trunk{
        white-space: nowrap; 
        width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .no-records{
        font-size: 12px;
    }
    .contain{
        max-height: 75vh;
        overflow-y: auto;
    }
    @media (max-width: 576px) {
        .txt-trunk{
            width: 115px;
        }
    }
    @media (max-width: 768px) {
        .txt-trunk{
            width: 115px;
        }
    }
}