.Report{
    padding: 20px;

    .bg-wclr{
        background-color: #fff;
    }
    .report{

        .brown-bgclr{
            background-color: #DC7633;
        }
        .blue-bgclr{
            background-color: #2980B9;
        }
        .purple-bgclr{
            background-color: #8E44AD;
        }
        
    }
}