%animateOpacity {
    opacity   : 1;
    transition: all 0.4s;
}

.sidebar {
    background-color: #00214b;
    box-shadow      : 1px 0 20px rgba(0, 0, 0, 0.08);
    color           : #a1afc2;
    overflow-y: auto;

    .sidebar-profile {
        padding: 20px;
        
        &:hover {
            cursor: pointer;
        }

        &.active {
            background: #255088;
            color     : white;
            cursor    : default;
        }

        .avatar {
            width : 50px;
            height: auto;
        }

        .profile-primary {
            font-size  : 13px;
            font-weight: 600;
            @extend %animateOpacity;
        }

        .profile-secondary {
            font-size: 11px;
            @extend %animateOpacity;
        }
    }

    .sidebar-menu{
        // height: calc(100% - 90px);
        height: calc(100% - 195px);
        overflow-y: auto;
    }
    .notify-menu{
        bottom: 0;
        border-top: 1px solid #707070;
        padding: 10px 0;
        background-color: #00214b;
    }

    .sidebar-links {
        list-style: none;
        // height: calc(100% - 14%);
        // position: relative;
        flex-wrap: nowrap;
        // padding-bottom: 60px;

        li {
            padding   : 10px 15px;
            cursor    : pointer;
            height    : 42px;
            display   : flex;
            transition: all 0.4s;

            &:hover {
                color: #03a9f3;
            }

            &.active {
                background: #255088;
                color     : white;
                cursor    : default;
            }

            i {
                width     : 40px;
                text-align: center;
                font-size : 14px;
                transition: all 0.4s;
            }

            span {
                font-size   : 14px;
                padding-left: 10px;
                white-space : nowrap;
                @extend %animateOpacity;
            }

        }
    }

    // ul li:last-child {
    //     position: absolute;
    //     width: 100%;
    //     bottom: 0;
    //     padding: 30px 15px;
    //     border-top: 1px solid #666666;
    // }

    @media (min-width: 768px) {

        // Desktop Collapse
        &.sidebarCollapse {

            .sidebar-profile {
                padding: 20px;

                .profile-primary {
                    font-size: 0px;
                    opacity  : 0;
                }

                .profile-secondary {
                    font-size: 0px;
                    opacity  : 0;
                }
            }

            .sidebar-links {

                li {
                    padding: 10px 25px;

                    i {
                        font-size: 20px;
                    }

                    span {
                        font-size   : 0px;
                        padding-left: 0px;
                        opacity     : 0;
                    }

                }
            }
        }

    }

    @media (max-width: 767.9px) {

        .sidebar-links {
            height: calc(100% - 17%);
        }

    }

}